bin/
obj/
ui-webview/src/node_modules/
ui-webview/src/dist/
.idea
*.DotSettings.user

# Prevent accidents
individuals.json
TEMP__credentials.json
credentials.json
vrc.cookies.txt
data-collection.jsonl
