bin/
obj/
ui-frontend/src/node_modules/
ui-frontend/src/dist/
ui-webview-windows/src/dist
!ui-webview-windows/src/dist/.placeholder
ui-photino-linux/wwwroot
.idea
*.DotSettings.user
.vs/

# Prevent accidents
individuals.json
TEMP__credentials.json
credentials.json
vrc.cookies.txt
data-collection.jsonl

build/