bin/
obj/
ui-frontend/src/node_modules/
ui-frontend/src/dist/
ui-photino-linux/wwwroot
.idea
*.DotSettings.user

# Prevent accidents
individuals.json
TEMP__credentials.json
credentials.json
vrc.cookies.txt
data-collection.jsonl
