.app-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    width: 100%;
    min-width: 0; /* Allow shrinking below content size */
    padding-top: 0;
}